# secrets 
.env 

# too big 
*.gz
*.pkl
*.zip
*.npz
*.npy
*.json

# probably not needed -- this was for neo4j
setup/

# obsolete
notebooks/sandbox.ipynb
notebooks/wrangling.ipynb
notebooks/2018_data.ipynb